@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat-Regular'),
    url('fonts/Montserrat-Regular.woff2') format('woff2');
}

/* Color palette. */
:root {
  --bg: #222;
  --fg: #aaa;
  --primary: #83cc14;
  --secondary: #527a0c;
  --controls: #e5a016;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.flex {
  flex: 1;
}

canvas {
  display: block;
}

aside {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-width: 218px;
  overflow-y: scroll;
}

header {
  padding: 18px 32px;
}

h1 {
  color: var(--primary);
  font-size: 32px;
  margin: 0;
}

.center {
  text-align: center;
}

.panel {
  background-color: #333;
  border-radius: 18px;
  margin-bottom: 20px;
  padding: 12px;
}

h2 {
  color: var(--secondary);
  font-size: 20px;
}

.control {
  color: var(--controls);
}
